<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAsocService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:58932/AsocService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IAsocService" contract="WCFService.IAsocService"
                name="BasicHttpBinding_IAsocService" />
        </client>
    </system.serviceModel>
</configuration>